<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>wellcome , please choose an option to proceed</h1>
    <label for="number 1"><input id="num1"> choose number 1</label>
    <label for="number 2"><input id="num2"> number 2</label>

   <br><hr>
 </label><button type="submit">submit      </button onclick="location.href='page3.html'">
</body>
</html>